/* Style for Sidebar Brand Icon container */
.sidebar-brand-icon {
    display: flex;
    align-items: centre;
    justify-content: flex-start; /* Align logo to the left */
    padding-left: 0px; /* Optional padding to create some space */
    padding-top: 0px;
}

/* Style for the logo image itself */
.sidebar-brand-icon .logo {
    height: 50px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevents the logo from exceeding the sidebar width */
    transition: transform 0.3s ease; /* Adds a smooth hover effect */
}

/* Optional hover effect for the logo */
.sidebar-brand-icon .logo:hover {
    transform: scale(1.05); /* Slightly enlarges the logo on hover */
}
.side-nav {
    margin-top: 3rem;
    margin-bottom: 1rem;
}
